<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>后台管理页面</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    {include file="common/css"}
    <style>

    </style>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">风控员管理平台</strong>
                                    </span>
                                </span>
                        </a>
                    </div>
                    <div class="logo-element">RISK
                    </div>
                </li>


                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span class="ng-scope">组别管理</span>
                </li>

                <li>
                    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">风控员 </span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="{:url('risk/Risk/risk_info')}">风控员基本信息</a>
                        </li>

                    </ul>
                </li>
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span class="ng-scope">其他管理</span>
                </li>
                <li>
                    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">在场订单 </span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="{:url('risk/TradeOrder/order_list')}">A账户</a>
                        </li>
                        <li><a class="J_menuItem" href="{:url('risk/TradeOrder/order_list')}">B账户</a>
                        </li>
                        <li><a class="J_menuItem" href="{:url('risk/TradeOrder/order_list')}">C账户</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">账户盈利 </span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="{:url('risk/Account/account_info')}">账户情况</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">下单员账户信息 </span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="{:url('risk/PartOrderInfo/part_order_info')}">A账户</a>
                        </li>
                        <li><a class="J_menuItem" href="">B账户</a>
                        </li>
                        <li><a class="J_menuItem" href="">C账户</a>
                        </li>

                    </ul>
                </li>


            </ul>
        </div>

    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            欢迎你，admin
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li class="m-t-xs">
                                <div class="dropdown-messages-box">
                                    <a href="#" class="pull-left">
                                        退出登录
                                    </a>

                                </div>
                            </li>

                        </ul>
                    </li>


                </ul>
            </nav>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe id="J_iframe" name="righe_con" width="100%" height="100%" src="/risk/Index/welcome" frameborder="0" data-id="index_v1.html" seamless></iframe>
        </div>
    </div>
    <!--右侧部分结束-->
</div>

<!-- 全局js -->
{include file="common/script"}

<!-- 自定义js -->
<script src="__ADMIN__/js/hAdmin.js?v=4.1.0"></script>
<script type="text/javascript" src="__ADMIN__/js/index.js"></script>

<!-- 第三方插件 -->
<script src="__ADMIN__/js/plugins/pace/pace.min.js"></script>

</body>

</html>
