<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>管理员列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    {include file="common/css"}
    <style>


    </style>

</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">


        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-1" aria-expanded="true">
                                <ul class="sortable-list connectList agile-list ui-sortable">

                                    <li class="success-element">
                                        管理员列表
                                    </li>
                                </ul>
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <ul class="todo-list m-t small-list ui-sortable">
                                    <li>
                                        <a class="btn btn-primary" onclick="admin('添加管理员','{:url('admin/Admin/admin_add')}','','350')">添加管理员</a>
                                    </li>


                                </ul>
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>手机号</th>
                                        <th>邮箱</th>
                                        <th>状态</th>
                                        <th>添加时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach($userList as $user){?>
                                        <tr class="gradeX">
                                            <td><?=$user['id']?></td>
                                            <td><?=$user['username']?></td>
                                            <td><?=$user['phone']?></td>
                                            <td><?=$user['email']?></td>
                                            <td><?=$user['status'] == 1?'正常':'禁用'?></td>
                                            <td><?=date('Y-m-d H:i:s',$user['add_time'])?></td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="admin('编辑管理员','{:url('admin/Admin/admin_edit',['id'=>$user['id']])}','','350')" class="btn btn-info btn-xs">编辑</a>
                                                <?php if($user['id'] != 1){?>
                                                <a href="javascript:void(0)" class="btn btn-danger btn-xs" onclick="admin_del(this,'{:url('admin/Admin/admin_del',['id'=>$user['id']])}','<?=$user['username']?>')">删除</a>
                                                <?php }?>
                                            </td>
                                        </tr>
                                    <?php }?>

                                    </tbody>

                                </table>
                                <div class="text-right page_css">
                                    {$userList->render()}
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>



    </div>

<!-- 全局js -->
{include file="common/script"}
<!-- 自定义js -->
<script src="__ADMIN__/js/content.js?v=1.0.0"></script>
<script src="__ADMIN__/js/plugins/jeditable/jquery.jeditable.js"></script>

<!-- Data Tables -->
<script src="__ADMIN__/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__ADMIN__/js/plugins/dataTables/dataTables.bootstrap.js"></script>


<script>
    $(document).ready(function () {
        $('.dataTables-example').dataTable({
            'paging':false
        });


    });

    function admin(title,url,w,h){
        layer_show(title,url,w,h);
    }
    function admin_del(that,url,name){
        layer.confirm('确认删除管理员 <span class="text-danger">'+name+'</span>？',function(){
            $.ajax({
                url:url,
                timeout:5000,
                type:'GET',
                success:function(data){
                    if(data.code == 0){
                        layer.msg(data.msg);
                        return false;
                    }else if(data.code == 1){
                        $(that).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                        return false;
                    }
                    console.log(data);
                },
                error:function(){
                    layer.msg('网络超时，请稍后再试');
                    return false;
                }


            })
        })
    }
</script>

</body>

</html>
