<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    {include file="common/css"}
</head>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-5">
            <div class="ibox float-e-margins">
                <div class="" id="ibox-content">

                    <div id="vertical-timeline" class="vertical-container light-timeline">
                        <!--<div class="vertical-timeline-block">-->
                            <!--<div class="vertical-timeline-icon navy-bg">-->
                                <!--<i class="fa fa-briefcase"></i>-->
                            <!--</div>-->

                            <!--<div class="vertical-timeline-content">-->
                                <!--<h2>会议</h2>-->
                                <!--<p>上一年的销售业绩发布会。总结产品营销和销售趋势及销售的现状。-->
                                <!--</p>-->
                                <!--<a href="#" class="btn btn-sm btn-primary"> 更多信息</a>-->
                                <!--<span class="vertical-date">-->
                                    <!--今天 <br>-->
                                    <!--<small>2月3日</small>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->


                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon lazur-bg">
                                <i class="fa fa-qq"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>1930148021</h2>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon yellow-bg">
                                <i class="fa fa-phone"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>+86 132 6802 6861</h2>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon lazur-bg">
                                <i class="fa fa-map-pin"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>四川省成都市青羊区金盾路52号</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- 全局js -->
{include file="common/script"}
<!-- 自定义js -->
<script src="__ADMIN__/js/content.js?v=1.0.0"></script>

<!-- jQuery Validation plugin javascript-->
<script src="__ADMIN__/js/from_validate/jquery.validate.min.js"></script>
<script src="__ADMIN__/js/from_validate/messages_zh.min.js"></script>

<script src="__ADMIN__/js/from_validate/validate-methods.js"></script>
</body>
</html>