<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IB中心</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    {include file="common/css"}
</head>
<body class="gray-bg">
<div class="wrapper    wrapper-content animated fadeInRight">
    <div class="ibox-content">

        <div id="using_json"></div>
    </div>


</div>
<!-- 全局js -->
{include file="common/script"}
<!-- 自定义js -->
<script src="__ADMIN__/js/content.js?v=1.0.0"></script>

<!-- jQuery Validation plugin javascript-->
<script src="__ADMIN__/js/from_validate/jquery.validate.min.js"></script>
<script src="__ADMIN__/js/from_validate/messages_zh.min.js"></script>

<script src="__ADMIN__/js/from_validate/validate-methods.js"></script>
<script src="__ADMIN__/js/plugins/jsTree/jstree.min.js"></script>
<script>

    $(document).ready(function () {

        $('#using_json').jstree({
            'core': {
                'data': [
                    'Empty Folder',
                    {
                        'text': 'Resources',
                        'state': {
                            'opened': true
                        },
                        'children': [
                            {
                                'text': 'css',
                                'children': [
                                    {
                                        'text': 'animate.css',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'bootstrap.css',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'main.css',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'style.css',
                                        'icon': 'none'
                                    }
                                ],
                                'state': {
                                    'opened': true
                                }
                            },
                            {
                                'text': 'js',
                                'children': [
                                    {
                                        'text': 'bootstrap.js',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'hplus.min.js',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'jquery.min.js',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'jsTree.min.js',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'custom.min.js',
                                        'icon': 'none'
                                    }
                                ],
                                'state': {
                                    'opened': true
                                }
                            },
                            {
                                'text': 'html',
                                'children': [
                                    {
                                        'text': 'layout.html',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'navigation.html',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'navbar.html',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'footer.html',
                                        'icon': 'none'
                                    },
                                    {
                                        'text': 'sidebar.html',
                                        'icon': 'none'
                                    }
                                ],
                                'state': {
                                    'opened': true
                                }
                            }
                        ]
                    },
                    'Fonts',
                    'Images',
                    'Scripts',
                    'Templates',
                ]
            }
        });

    });
</script>

</body>
</html>