<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IB中心</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    {include file="common/css"}
</head>
<body class="gray-bg">
<div class="wrapper    wrapper-content animated fadeInRight">
    <div class="ibox-content">
        <div id="Ib_json"></div>
    </div>


</div>
<!-- 全局js -->
{include file="common/script"}
<!-- 自定义js -->
<script src="__ADMIN__/js/content.js?v=1.0.0"></script>

<!-- jQuery Validation plugin javascript-->
<script src="__ADMIN__/js/from_validate/jquery.validate.min.js"></script>
<script src="__ADMIN__/js/from_validate/messages_zh.min.js"></script>

<script src="__ADMIN__/js/from_validate/validate-methods.js"></script>
<script src="__ADMIN__/js/plugins/jsTree/jstree.min.js"></script>
<script>
    Array.prototype.distinct = function (){
        var arr = this,
            i,
            j,
            len = arr.length;
        for(i = 0; i < len; i++){
            for(j = i + 1; j < len; j++){
                if(arr[i].userId == arr[j].userId){
                    arr.splice(j,1);
                    len--;
                    j--;
                }
            }
        }
        return arr;
    };
    $(document).ready(function () {
        $.ajax({
            type:'GET',
            url:'{:url("ib/Center/get_IbSubList")}',
            success:function (data) {
//                console.log('获得参数')
//                console.log(data)
                var someKey = [];
                $.each(data.msg.data,function(i,data){
                    var part = {
                        userId:data.id,
                        userName:data.name
                    };
                    someKey.push(part);
                });
                var disSomkey  = someKey.distinct();
                var hahah = [];
                if(data.msg.data.length>0){
//                    console.log(data.msg.data)
                    for(var j = 0;j<disSomkey.length;j++){
                        var hh = [];
                        var childKey = [];
                        for(var i=0;i<data.msg.data.length;i++){
                            if(data.msg.data[i].id==disSomkey[j].userId){
                                var temp  = {
                                    childId:data.msg.data[i].tid,
                                    text:data.msg.data[i].account
                                };
                                hh.push(temp);
                                childKey.push(data.msg.data[i].account)
                            }
                        }
                        var getParent  ={
                            parentId:someKey[j].userId,
                            text:someKey[j].userName,
                            children:hh
                        };
                        hahah.push(getParent);
                    }
                }
                $('#Ib_json').jstree({
                    'core': {
                        'data':hahah
                    }
                })
            },
            error:function (data) {

            }
        });
    });
</script>

</body>
</html>