<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> 资金分配</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    {include file="common/css"}
    <style>

        .content_box{
            width:80%;
            height:900px;
            margin:0 auto;
            border:1px solid #ccc;
        }
        .box_left{
            border-right:1px solid #ccc;
            height:100%;
            width:20%;
            float:left;
        }
        .box_right{
            width:60%;
            height:100%;
            float:left;
        }
        .box_title{
            margin: 30px 0 0 0;
            height:45px;
            line-height:40px;
        }
        .id_card{
            width: 250px;
            height: 150px;
            background:#ccc;
            display:inline-block;
            margin-right:10px;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }
        .card_box{
            width:660px;
            padding-left: 15px;
        }
    </style>

</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">


                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 划入资金</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">划出资金</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <form class="form-horizontal m-t" method="post" id="inForm">
                                        <table class="table">
                                            <tr>
                                                <td class="text-right">划入金额
                                                    <input name="__token__" type="hidden" value="{$Request.token}">
                                                </td>
                                                <td><input id="inmoney" name="inmoney" type="text" class="form-control"></td>
                                                <td><input id="account" name="account" type="hidden" class="form-control" value="<?=$fund_TranderId?>"></td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-primary" type="submit">提交</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <form class="form-horizontal m-t" method="post" id="outForm">
                                        <table class="table">
                                            <tr>
                                                <td class="text-right">划出金额
                                                    <input name="__token__" type="hidden" value="{$Request.token}">
                                                </td>
                                                <td><input id="outmoney" name="outmoney" type="text" class="form-control"></td>
                                                <td><input  name="account" type="hidden" class="form-control" value="<?=$fund_TranderId?>"></td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-primary" type="submit">提交</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>


        </div>

    </div>

</div>
</div>
<!-- 全局js -->
{include file="common/script"}
<!-- 自定义js -->
<script src="__ADMIN__/js/content.js?v=1.0.0"></script>

<!-- jQuery Validation plugin javascript-->
<script src="__ADMIN__/js/from_validate/jquery.validate.min.js"></script>
<script src="__ADMIN__/js/from_validate/messages_zh.min.js"></script>

<script src="__ADMIN__/js/from_validate/validate-methods.js"></script>




<script>

    $().ready(function() {
        $.validator.addMethod("positiveinteger", function(value, element) {
            var aint=parseInt(value);
            return aint>0&& (aint+"")==value;
        }, "Please enter a valid number.");
        //划入金额
        $("#inForm").validate({
            rules:{
                inmoney:{
                    required:true,
                    digits:true,
                    positiveinteger:true

                }
            },
            messages:{
                inmoney:{
                    required:'请填写金额',
                    digits:'* 请填写正确的金额(应为数字)',
                    positiveinteger:'请输入大于0的金额'
                }
            },
            onkeyup:false,
            focusCleanup:true,
            submitHandler: function(form)
            {
                var index ='';
                index = layer.load();
                $.ajax({
                    url:'{:url("FundAllot/fund_in")}',
                    type:'POST',
                    data:$(form).serialize(),
                    success:function(data){
                        layer.close(index);
                        console.log(data);
                        if(data.code == 1){
//                            var index = parent.layer.getFrameIndex(window.name);
//                            parent.layer.close(index);
                            layer.msg(data.msg,{time:800},function(){
                                parent.location.reload();
                            });
                            return false;
                        }else if(data.code == 0){
                            layer.msg(data.msg);
                            return false;
                        }
                    },
                    error:function(){
                        layer.close(index);
                        layer.msg('网络错误，请稍后再试');
                        return false;
                    }
                })

            }
        });
        //划出金额
        $("#outForm").validate({
            rules:{
                outmoney:{
                    required:true,
                    positiveinteger:true,
                    digits:true
                }
            },
            messages:{
                outmoney:{
                    required:'请填写金额',
                    digits:'* 请输入正确的金额(应为数字)',
                    positiveinteger:'请输入大于0的金额'
                }
            },
            onkeyup:false,
            focusCleanup:true,
            submitHandler: function(form)
            {
                var index ='';
                index = layer.load();
                $.ajax({
                    url:'{:url("FundAllot/fund_out")}',
                    type:'POST',
                    data:$(form).serialize(),
                    success:function(data){
                        layer.close(index);
                        console.log(data);
                        if(data.code == 1){
//                            var index = parent.layer.getFrameIndex(window.name);
//                            parent.layer.close(index);
                            layer.msg(data.msg,{time:800},function(){
                                parent.location.reload();
                            });
                            return false;
                        }else if(data.code == 0){
                            layer.msg(data.msg);
                            return false;
                        }
                    },
                    error:function(){
                        layer.close(index);
                        layer.msg('网络错误，请稍后再试');
                        return false;
                    }
                })

            }
        });

});


</script>

</body>

</html>
