<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>账号信息</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {include file="common/css"}

    {include file="common/script"}
    <style>
        .my_account_top{
            background:#868ec5;
        }
    </style>
</head>
<body>
{include file="common/header"}
	<div class="container-fluid my_account_box">
    	<div class="container">
        	<div class="row my_account">
              <div class="col-md-3"></div>

              <div class="col-md-6 account_box">
              		<div class="my_account_top">
                        <!--<img class="img-circle" src="__INDEX__/images/my_touxiang.png">-->
                        <h1>基本信息</h1>
                    </div>
                  <?php //var_dump($user);die;?>

                 <div class="my_account_bottom">
                    <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">ID:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['tid']?></div>
                    </div>
                    <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">交易账号:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['account']?></div>
                    </div>
                     <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">用户名:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['username']?></div>
                     </div>
                     <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">性别:</div>
                         <div class="col-md-9 col-xs-9 account_right">
                         <?php
                         $sex = $user['male'];
                            switch($sex){
                             case '1':
                            $maleTxt  = '男';
                             break;
                             case  '2':
                             $maleTxt = '女';
                             break;
                             default:
                              $maleTxt = '';
                               break;
                             }
                         ?>
                             <?=$maleTxt?>
                         </div>
                     </div>
                     <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">生日:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['birthday']?></div>
                     </div>
                     <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">联系地址:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['address']?></div>
                     </div>
                     <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">邮箱:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['email']?></div>
                     </div>
                     <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">身份证号:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['id_card']?></div>
                     </div>
                    <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">注册时间:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=date('Y-m-d H:i:s',$user['add_time'])?></div>
                    </div>
                     <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">账户资金:</div>
                         <div class="col-md-9 col-xs-9 account_right">$ <?=$user['wallet']+$onlinePrice?></div>
                     </div>
                     <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">所属客户ID:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['user_id']?></div>
                     </div>

                    <div class="row account">
                         <div class="col-md-3 col-xs-3 account_left">状态:</div>
                         <div class="col-md-9 col-xs-9 account_right"><?=$user['ta_status']?></div>
                    </div>
              </div>
              </div>
               <div class="col-md-3"></div>
            </div>
        </div>

    </div>
</body>
</html>
