<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>下单</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    {include file="common/script"}
    <script src="__INDEX__/layer3.11/layer.js"></script>
    {include file="common/css"}

    <style>
        .chart_box{
            height:400px;
        }
        .btn_res{
            height:30px;
        }
        .btn_sub{
            margin-top:20px;
            margin-right:30px;
        }
        .current_price{
            height:30px;
            line-height:30px;
        }
    </style>
</head>
<body>
{include file="common/header"}
	<div class="container-fluid my_account_box main_box">
    <div class="main_body">
    	<div class="container my_account my_order">
			<div class="chart_box">
                <div id="container" style="height: 100%"></div>
			</div>
        	<div class="my_order_box">
            	<h1>下单</h1>
				<span></span>
				<form action="" id="orderFrom" method="post">
	                <div class="row order_box">
		                <div class="col-md-2 order_left">
		                    <p>下单品种:</p>
		                    <p>当前价格:</p>
		                    <p>下单手数:</p>
		                    <p>下单类型:</p>

		                </div>
		                <div class="col-md-3 order_right">
		                     <p>EURUSD</p>
		                    <p class="current_price"></p>
                            <input type="hidden" name="current_price" id="current_price" value="">
                            <input type="hidden" name="current_price2" id="current_price2" value="">
		                    <p class="order_radio">
		                      <div class="form-group  order_radio">
								  <input type="number" name="lot" step="0.1" min="0.1" value="10" />
		                       </div>
		                    </p>
		                    <p>
			                    <label class="radio-inline" style="line-height:20px;">
		                            <input type="radio" name="direction" id="inlineRadio1" value="1"> 做多
		                    	</label>
			                    <label class="radio-inline" style="line-height:20px;">
			                    	<input type="radio" name="direction" id="inlineRadio2" value="2"> 做空
		                    	</label>
		                    </p>
		                    <p>
                                <span class="btn btn-danger btn-sm btn_sub" onclick="subFrom()">提交</span>
                                <button class="btn btn-primary btn-sm btn_res" type="reset">重置</button>
                            </p>
		                </div>
	             	</div>
				</form>
            </div>

		<!--3-->
            <div class="my_order_box">
            	<h1>在场订单<span></span></h1>
                <div class="table-responsive leibiao">
                  <table class="table">
                   <thead>
                      <tr>
                         <th>订单号</th>
                         <th>订单类型</th>
                         <th>下单价格</th>
                         <th>止盈价</th>
                         <th>止损价</th>
                         <th>手数</th>
                         <th>下单时间</th>
                         <th>订单状态</th>
                      </tr>
                   </thead>
                   <tbody id="data">

                   </tbody>
                </table>
            	</div>
        	</div>
        </div>
     </div>
    </div>

</body>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script src='https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js'></script>

<script src="__INDEX__/js/orderjs.js"></script>

<script>
getKData('<?=session("username")?>');


</script>

</html>
