<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>历史订单</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	{include file="common/css"}
    {include file="common/script"}
</head>
<body>
{include file="common/header"}
	<div class="container-fluid my_account_box main_box">
    <div class="main_body">
    	<div class="container  my_account my_order">
            <div class="my_order_box pending_orders">
            	<h1>历史订单</h1>
                <div class="table-responsive leibiao">
                  <table class="table">
                   <thead>

					  <tr>
						  <th>订单号</th>
						  <th>订单类型</th>
						  <th>下单价格</th>
						  <th>止盈价</th>
						  <th>止损价</th>
						  <th>手数</th>
						  <th>下单时间</th>
						  <th>平仓时间</th>
						  <th>盈利</th>
						  <th>手续费</th>
						  <th>订单状态</th>
					  </tr>

                   </thead>
                   <tbody>
				   <?php if(!empty($historyOrder)){
				        foreach($historyOrder as $order){?>
                       <tr>
                           <td><?=$order['order_id']?></td>
                           <td> <?=$order['order_type'] == 1?'<span class="text-danger">做多</span>':'<span class="text-success">做空</span>'?></td>
                           <td><?=$order['order_price']?></td>
                           <td><?=$order['stop_profit']?></td>
                           <td><?=$order['stop_loss']?></td>
                           <td><?=$order['lot_num']?></td>
                           <td><?=date('Y-m-d H:i:s',$order['add_time'])?></td>
                           <td><?=date('Y-m-d H:i:s',$order['order_close_time'])?></td>
                           <?php  $status = $order['order_status'];?>
                           <td><?php echo '<span class="text-danger">'.$order['profit'].'</span>';?></td>
                           <td><?='-'.$order['hand_price']?></td>
                           <td>
                               <?php
                                    switch($status){
                                        case 1:
                                            echo '<span class="text-danger">成功</span>';
                                            break;
                                        case 2:
                                            echo '<span class="text-success">失败</span>';
                                            break;
                                    }
                               ?>
                           </td>
                       </tr>

                   <?php }?>
                   <tr>
                       <td colspan="10">
                           {$historyOrder->render()}
                       </td>
                   </tr>
                   <?php }else{?>
                   <tr>
                       <td colspan="9" class="text-center">没有数据</td>
                   </tr>
                   <?php }?>
				   </tbody>
                </table>
                </div>
        </div>
        </div>
    </div>
    </div>
</body>
</html>
